alembic
pydantic-ai[anthropic]
asyncpg
httpx
jinja-ui-kit @ git+https://github.com/byzantime/jinja-ui-kit.git
python-dotenv
quart-assets
quart-auth
quart-compress
quart-flask-patch
selenium
sqlalchemy[asyncio]
sentry-sdk
