alembic
apscheduler
browser-use
pydantic-ai-slim[duckduckgo]
asyncpg
httpx
jinja-ui-kit @ git+https://github.com/byzantime/jinja-ui-kit.git
psycopg2-binary
python-dotenv
quart-assets
quart-auth
quart-compress
quart-flask-patch
sqlalchemy[asyncio]
sentry-sdk
python-telegram-bot[webhooks]
sentence-transformers
numpy
qdrant-client
vaderSentiment
